<%- include partials/head.ejs %>

<!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        
<%- include('partials/sidebar.ejs', {active:"index"}) %>

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

                <%for(i=0;i<products.length;i++){%>
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/product-details/<%=products[i].id%>">
                        <img src="img/<%=products[i].image%>" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $<%=products[i].price%></p>
                            <h4><%=products[i].name%></h4>
                            <p><%=products[i].shortDesc%></p>
                        </div>
                    </a>
                </div>
                <%}%>


            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <%- include partials/foot.ejs %>