<%- include partials/head.ejs %>

<!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        
<%- include('partials/sidebar.ejs', {active:"index"}) %>

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

                <%for(i=0;i<categories.length;i++){%>
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/shop/<%=categories[i]._id%>">
                        <img src="img/category-img/<%=categories[i].image%>" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $<%=categories[i].price%></p>
                            <h4><%=categories[i].name%></h4>
                            <p><%=categories[i].shortDesc%></p>
                        </div>
                    </a>
                </div>
                <%}%>


            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <%- include partials/foot.ejs %>